SIARD_WEBHOOK_SECRET=troque-por-um-segredo-forte
SIARD_DEPLOY_SCRIPT=/usr/local/bin/siard-deploy
SIARD_DEPLOY_LOG=/var/log/siard-deploy.log
SIARD_WEBHOOK_HOST=0.0.0.0
SIARD_WEBHOOK_PORT=9001
SIARD_APP_DIR=/opt/siard
SIARD_REPO_DIR=/opt/siard-repo
SIARD_GIT_REMOTE=https://github.com/maysotoledo/siard.git
SIARD_GIT_BRANCH=main
