*
!.gitignore
!uploads/
!uploads/generic-logs/
!uploads/generic-logs/.gitkeep
!uploads/records-html/
!uploads/records-html/.gitkeep
!uploads/records-html-bilhetagem/
!uploads/records-html-bilhetagem/.gitkeep
!uploads/records-html-instagram/
!uploads/records-html-instagram/.gitkeep
!telematica/
!telematica/**
!pixel-og/
!pixel-og/templates/
!pixel-og/templates/**
!pixel-og/noticias/
!pixel-og/noticias/.gitkeep
!livewire-tmp/
!livewire-tmp/.gitkeep
