{$APP_DOMAIN}, siard.online, comprovante-pix.site, agenciadanoticia.online, comprovante.online, intimacao.online {
    encode zstd gzip

    reverse_proxy web:80 {
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-Port 443
        header_up X-Forwarded-Host {host}
    }

    @publicPreview path /pixel/* /pix/* /noticia/* /intimacao/* /tracker/* /storage/pixel-og/* /storage/intimacoes/*

    header @publicPreview {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods "GET, HEAD, OPTIONS"
        Access-Control-Allow-Headers *
        Vary Origin
    }

    header {
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        -Server
    }
}
