http://{$APP_DOMAIN}, http://siard.online, http://comprovante-pix.site, http://agenciadanoticia.online {
    encode zstd gzip

    reverse_proxy web:80

    header {
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        -Server
    }
}
