http://{$APP_DOMAIN}, siard.online, comprovante-pix.site, agenciadanoticia.online, comprovante.online, intimacao.online {
    encode zstd gzip

    reverse_proxy web:80

    header {
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        -Server
    }
}
